@font-face {
	font-family: 'Freestyle Script Regular';
	font-style: normal;
	font-weight: normal;
	src: local('Freestyle Script Regular'), url('FREESCPT.woff') format('woff');
}

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

.backcolor {
	background-color: #FAF8F5;
}

/* animation */
.scroll-fade {
	opacity: 0;
	transition: all 2s
		/*処理にかかる時間*/
	;
}

.scroll-up {
	opacity: 0;
	transform: translateY(100px)
		/*スクロールアップする距離*/
	;
	transition: all 2s
		/*処理にかかる時間*/
	;
}

.scroll-up.done,
.scroll-fade.done {
	opacity: 1;
	transform: translate(0, 0);
}

.load-fade {
	opacity: 0;
	transition: all 2s
		/*処理にかかる時間*/
	;
}

.load-up {
	opacity: 0;
	transform: translateY(100px)
		/*スクロールアップする距離*/
	;
	transition: all 2s
		/*処理にかかる時間*/
	;
}

.load-up.done,
.load-fade.done {
	opacity: 1;
	transform: translate(0, 0);
}

/* wrap */

.wrap {
	background-color: #FAF8F5;
	width: 100vw;
	overflow: hidden;
}

p {
	color: #592217;
}

.terrace {
	font-family: 'Freestyle Script Regular';
	letter-spacing: 7px;
	font-weight: 400;
}

.lb-pc-terrace {
	font-family: 'Freestyle Script Regular';
	font-size: 300%;
	letter-spacing: 7px;
}

.lt-sp-terrace {
	font-family: 'Freestyle Script Regular';
	font-size: 850%;
	letter-spacing: 7px;
}

.lb-sp-terrace {
	font-family: 'Freestyle Script Regular';
	font-size: 250%;
}

/******* header *******/
header {
	width: 100vw;
	height: 100vh;
	background: url(/image/first/first.png) center / cover no-repeat;
	position: relative;
}

/* lt */
.lt p {
	font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
	color: #fff;
	letter-spacing: 2px;
	line-height: 160%;
}

.header-terrace {
	font-size: 180%;
}

.header-terrace p {}

.header-explain {
	border-bottom: thin solid #fff;
	border-top: thin solid #fff;
	padding: 8px
}

.header-message {
	padding: 8px
}

/* lb */
.lb p {
	font-family: 'UD デジタル 教科書体 NK-R';
	color: #fff;
}

/* rb */

.rb {
	border: thin solid #fff;
	letter-spacing: 3px;
	padding: 2%;
}


.rb-flex {
	display: flex;
	align-items: baseline;
	justify-content: space-around;
	margin-top: 5%;
}

.rb-sign {
	width: 30%;
}

.rb-sign img {
	width: 100%;
}

.rb p {
	color: #fff;
	font-family: 'UD デジタル 教科書体 NK-R';
}


/******* menu *******/

.menu-list a {
	color: #fff;
	text-decoration: none;
}

.menu-list a:hover {
	color: #592217;
}

.title {
	text-align: center;
}

/**** Concept ****/
.concept {
	background-color: #FAF8F5;
	/* padding: 10%; */
	text-align: center;
	letter-spacing: 5px;
	line-height: 40px;
}

.concept-letter {
	margin-top: 5%;
}

.concept_cafe {
	font-size: 200%;
}

.concept_t {
	font-size: 250%;
}

.concept p {
	font-family: 'UD デジタル 教科書体 NK-R';
	font-size: 80%;
	/* padding: 10%; */
	margin-bottom: 10%;
	text-align: center;
}

.terasu {
	font-size: 140%;
}

.concept-img img {
	width: 70vw;
}

.concept-img2 img {
	width: 65%;
}



.concept-text-big {
	font-size: 300%;
}

/**** About us ****/
.aboutus {
	background-color: #F0E2CA;
}

.aboutus p {
	letter-spacing: 5px;
	line-height: 40px;
}

.subtitle {
	font-family: 'UD デジタル 教科書体 NK-R';
	letter-spacing: 5px;
	text-align: center;
	padding: 2%;
	padding-bottom: 6%;
}

.subtitle p {
	float: 10vh;
}

/* flex */
.more-container {
	display: flex;
	justify-content: space-between;
	flex-flow: row wrap;
	margin: 0;
}

.more-container:nth-child(even) {
	flex-direction: row-reverse;
}

.subletter {
	font-family: 'UD デジタル 教科書体 NK-R';
	letter-spacing: 5px;
	padding-bottom: 5%;
}

.letter {
	font-family: 'UD デジタル 教科書体 NK-R';
	letter-spacing: 5px;
	padding-bottom: 7%;
}

.letter2 {
	font-family: 'UD デジタル 教科書体 NK-R';
	letter-spacing: 5px;
}

/* letter up */
.minna {
	font-family: 'UD デジタル 教科書体 NK-R';
	font-size: 200%;
}

.letter-sp {
	font-size: 85%;
}

.letter-up {
	margin-top: 3%;
	margin-left: 10%;
}

/* letter down */
.minna2 {
	font-size: 200%;
}

/***** Ac *****/
.ac {
	background-color: #FAF8F5;
}

.title-explain {
	text-align: center;
	line-height: 180%;
}

.plate {
	text-align: center;
}

.element {
	text-align: center;
	display: flex;
	justify-content: space-between;
	flex-flow: row wrap;
	padding: 10%;
}

.element:nth-child(even) {
	flex-direction: row-reverse;
}

.sabusuku {
	height: 540px;
}

.planning2 {
	margin-bottom: 0;
}

.midtitle {
	position: relative;
	margin: 10% 0;
}

.subsubtitle {
	padding: 0 20px;
	border-bottom: medium solid #F6AB44;
	font-family: 'UD デジタル 教科書体 NK-R';
	letter-spacing: 5px;
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
	z-index: 100;
}

.subsubback {
	font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
	letter-spacing: 27px;
	color: #F0E2CA;
	position: absolute;
	transform: translateY(-50%);
	margin-bottom: 5%;
}

/***** member voice *****/
.membervoice {
	position: relative;
	/* padding: 10%; */
}

.member img {}

.member-t {
	font-size: 190%;
}


/**** SNS ****/

.SNS-flex {
	display: flex;
	align-items: center;
	justify-content: space-evenly;
}

.SNS {
	background-color: #F0E2CA;
	text-align: center;
	padding: 2%;
	font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
	letter-spacing: 3px;
	font-size: 100%;
	color: #592217;
}

.SNS a {
	color: #592217;
}

.SNS a:hover {
	color: #fff;
}

/**** footer ****/
footer {
	background-color: #865B3C;
	color: #FAF8F5;
	text-align: center;
	font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
	padding: 1%;
	letter-spacing: 1px;
}

/* SP版 */
@media screen and (max-width: 600px) {

	.pc {
		display: none;
	}

	.wrap img {
		position: relativeS;
	}

	.header-terrace {
		padding: 4px;
	}

	.header-terrace p {
		font-size: 150%;
	}

	.lt {
		position: absolute;
		top: 5%;
		left: 10%;
		width: 180px;
	}

	.lt p {
		font-size: 20%;
	}

	.header-explain {
		letter-spacing: 1px;
	}

	.lb {
		position: absolute;
		bottom: 20%;
		left: 10%;
	}

	.lb p {
		writing-mode: vertical-rl;
		font-size: 30%;
		letter-spacing: 5px;
		padding-bottom: 8%;
	}

	.rb-box {
		text-align: center;
	}

	.rb {
		position: absolute;
		left: 15%;
		right: 15%;
		bottom: 10%;
		width: 70%;
		background-color: rgba(93, 38, 27, .5);
	}

	.sanka {
		text-align: center;
		font-size: 10px;
	}

	.kotira {
		width: 35%;
		text-align: center;
		font-size: 20px;
	}



	/* .rb img {
		margin-bottom: -24px;
	} */

	.hamberger {}

	button {
		margin: 10%;
		padding: 0;
		outline: 0;
		border: 0;
		border-radius: 0;
		background: transparent;
		color: inherit;
		vertical-align: middle;
		text-align: inherit;
		font: inherit;
		-webkit-appearance: none;
		appearance: none;
	}

	/**************** 以下、ハンバーガーボタンのスタイリング ****************/
	.btn {
		/* ボタンの配置位置  */
		position: fixed;
		top: 0px;
		right: 0px;
		/* left: 45%; */
		/* 最前面に */
		z-index: 10;
		/* ボタンの大きさ  */
		width: auto;
		height: auto;
	}

	/***** 真ん中のバーガー線 *****/
	.btn-line {
		/* transform: translate(-50%,-50%); */
		font-size: 68%;
		display: block;
		/* width: 100%;
		height: auto; */
		transition: 0.2s;
		color: #fff;
		text-shadow: #752e20 0 0 10px;
	}

	.btn-line.open {
		width: auto;
		transform: rotate(180deg);
		transform-origin: center center;
		transition: 0.2s;
	}

	.menu {
		/* メニューを縦に */
		display: flex;
		flex-direction: column;
		position: fixed;
		text-align: left;
		margin-top: 15%;
		/* メニューの位置マイナス指定で画面外に */
		top: 10%;
		right: -40%;
		width: 27%;
		height: 10vh;
		color: #fff;
		transition: 0.3s;
		text-shadow: #752e20 0 0 10px;
		font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
		z-index: 1000;
	}

	.menu-list {
		/* メニューテキスト位置をリスト内中心に */
		display: flex;
		width: 100%;
		height: 100%;
		font-size: 15%;
	}

	.menu-list:hover {
		background-color: rgba(255, 255, 255, .5);
		color: #5D261B;
		cursor: pointer;
		transition: .3s;
	}

	/***** メニューオープン時位置0にして画面内に *****/
	.menu.open {
		right: 0;
	}

	.brank {
		margin-right: 30px;
	}

	.title img {
		height: 30px;
		margin-top: 10%;
	}

	.subtitle {
		font-family: 'UD デジタル 教科書体 NK-R';
		font-size: 77%;
		letter-spacing: 5px;
		text-align: center;
		padding: 2%;
		padding-bottom: 6%;
	}

	/**** moveSNS ****/
	.moveSNS {
		text-align: center;
		padding: 10%;
		width: 100%;
	}

	.moveSNS img {
		text-align: center;
		width: 60%;
	}

	/************ About us ************/
	.aboutus {
		background-color: #F0E2CA;
	}

	.aboutus p {
		letter-spacing: 5px;
		line-height: 40px;
	}

	/* flex */
	.more-container {
		display: flex;
		justify-content: space-between;
		flex-flow: row wrap;
	}

	.more-container:nth-child(even) {
		flex-direction: row-reverse;
	}

	.more-container img {
		width: 80%;
	}

	.subletter {
		font-family: 'UD デジタル 教科書体 NK-R';
		letter-spacing: 5px;

	}

	.letter-sp {
		font-family: 'UD デジタル 教科書体 NK-R';
		letter-spacing: 5px;
	}

	.letter {
		margin-bottom: 10%;
	}

	/* letter up */
	.minna {
		font-family: 'UD デジタル 教科書体 NK-R';
		font-size: 180%;
	}

	.letter-up {
		margin-top: 3%;
	}

	.letter-up p {}

	/* letter down */
	.minna2 {
		font-size: 230%;
	}

	.letter-down {
		margin: 5%;
	}

	.down-img {
		text-align: right;
	}

	p.letter-sp.sp {
		margin-bottom: 30px;
	}

	/****** ac ******/
	.title-explain-sp {
		font-size: 80%;
		line-height: 30px;
	}

	.element img {
		width: 90%;
		margin-top: 10%;
		margin-bottom: 25%;
		margin-right: 5%;
		margin-left: 5%;
	}

	.subsubtitle {
		font-size: 120%;
	}

	.subsubback {
		font-size: 500%;
		padding-bottom: 10%;
	}

	.back-event {
		right: -10%;
	}

	.back-plan {
		left: -0.01%;
	}

	/****** mem ******/

	.member-letter-box {
		text-align: center;
	}

	.member-letter {
		margin-bottom: 40%;
		font-size: 90%;
	}

	.membervoice {
		padding: 10%;
	}

	.member {
		border: thin solid #F6AB44;
		padding: 5%;
	}

	.member-photo img {
		padding: 5%;
		width: 230px;
		height: 230px;
	}


	.member-section {
		position: relative;
		margin: 15% 0;
		text-align: center;
	}

	.member p {
		font-family: 'UD デジタル 教科書体 NK-R';
		letter-spacing: 5px;
		line-height: 150%;
	}

	.mem-sp {
		text-align: left;
	}

	.member-photo {
		padding: 5%;
		margin-bottom: 10%;
		/* display: flex;
		flex-direction: column;
		justify-content: center; */
		text-align: center;
	}

	/****** SNS ******/

	.SNS-flex img {
		height: 65px;
		width: 10%;
	}

	.SNSmessage {
		font-family: 'UD デジタル 教科書体 NK-R';
		text-align: center;
		background-color: #FAF8F5;
		letter-spacing: 5px;
		font-size: 75%;
		padding: 5%;
	}

	.SNSmessage img {
		/* padding: 2%; */
	}

	.SNS {
		background-color: #F0E2CA;
		text-align: center;
		padding: 2%;
		font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
		letter-spacing: 3px;
		font-size: 70%;
		color: #592217;
	}

}

/* pc版 */
@media screen and (min-width: 600px) {

	.sp {
		display: none;
	}

	.lt {
		position: absolute;
		top: 10%;
		left: 10%;
		width: 225px;
	}

	.header-terrace {
		font-size: 180%;
		padding: 8px;
		letter-spacing: 5%;
	}

	.lb {
		position: absolute;
		bottom: 10%;
		left: 10%;
	}


	.rb {
		width: 20%;
		position: absolute;
		bottom: 10%;
		right: 10%;
	}

	.sanka {
		text-align: center;
		font-size: 20px;
	}

	.kotira {
		width: 35%;
		text-align: center;
		font-size: 34px;
	}

	/* .rb img {
		margin-bottom: 24px;
	} */

	.btn {
		display: none;
	}

	.menu {
		/* メニューを横に */
		display: flex;
		flex-direction: column;
		position: absolute;
		top: 10%;
		right: 10%;
		height: 20%;
		color: #fff;
		font-size: 100%;
		font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
	}

	/**************** 以下、ハンバーガーボタンのスタイリング ****************/

	.menu-list {
		/* メニューテキスト位置をリスト内中心に */
		display: flex;
		width: 100%;
		height: 100%;
	}

	.menu-list:hover {
		background-color: rgba(255, 255, 255, .5);
		color: #5D261B;
		cursor: pointer;
		transition: .3s;
	}

	.brank {
		margin-right: 50px;
	}

	.title img {
		height: 70px;
		margin-top: 10%;
	}

	.subtitle {
		font-family: 'UD デジタル 教科書体 NK-R';
		letter-spacing: 5px;
		text-align: center;
		padding: 2%;
		padding-bottom: 6%;
	}

	.moveSNS {
		text-align: center;
		padding: 10%;
	}


	.member {
		margin-top: 10%;
		border: medium solid #5D261B;
	}

	/**** About us ****/
	.aboutus {
		background-color: #F0E2CA;
	}

	.aboutus p {
		letter-spacing: 5px;
		line-height: 40px;
	}

	/* flex */
	.more-container {
		display: flex;
		justify-content: space-between;
		flex-flow: row wrap;
		margin: 0 auto;
		width: 70%;
	}

	.more-container:nth-child(even) {
		flex-direction: row-reverse;
	}

	.subletter {
		font-family: 'UD デジタル 教科書体 NK-R';
		letter-spacing: 5px;
		padding-bottom: 5%;
	}

	.letter {
		font-family: 'UD デジタル 教科書体 NK-R';
		letter-spacing: 5px;
		padding-bottom: 7%;
	}

	/* letter up */
	.minna {
		font-family: 'UD デジタル 教科書体 NK-R';
		font-size: 200%;
	}

	.letter-up {
		margin-top: 3%;
		margin-left: 10%;
	}

	/* letter down */
	.minna2 {
		font-size: 250%;
	}

	.letter-down {
		margin-top: 3%;
		margin-right: 5%;
	}

	/****** ac ******/

	.element img {
		width: 300px;
		margin-bottom: 25%;
		margin-right: 5%;
	}

	.subsubtitle {
		font-size: 270%;
	}

	.subsubback {
		font-size: 1500%;
	}

	.back-event {
		right: -4%;
	}

	.back-plan {
		left: -3%;
	}



	/****** mem ******/
	.membervoice {
		padding: 10%;
	}

	.mem-pc {}

	.member {
		position: relative;
		text-align: center;
	}


	.doubleline {
		border: medium solid #F6AB44;
		width: 100.5%;
		height: 100%;
		top: -32px;
		left: -32px;
		position: absolute;
	}

	.member-pc {
		text-align: center;
	}

	.member-photo img {
		width: 280px;
	}


	.member-section {
		position: relative;
		margin: 15% 0;
	}

	.member p {
		font-family: 'UD デジタル 教科書体 NK-R';
		letter-spacing: 5px;
		line-height: 150%;
	}

	.member-photo {
		margin-bottom: 5%;
		display: flex;
		align-items: baseline;
		justify-content: center;
	}

	.grade {
		width: 20%;
	}

	.name {
		width: 20%;
	}

	/****** SNS ******/

	.SNS-flex img {
		height: 65px;
	}

	.SNSmessage {
		text-align: center;
		background-color: #FAF8F5;
		padding: 2%;
	}

	.SNSmessage p {
		font-size: 150%;
		font-family: 'UD デジタル 教科書体 NK-R';
		letter-spacing: 5px;
	}

	.SNSmessage.sp img {
		width: 5%;
	}

	.SNS {
		background-color: #F0E2CA;
		text-align: center;
		padding: 2%;
		font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
		letter-spacing: 3px;
		font-size: 100%;
		color: #592217;
	}
}